@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-color: #95b2ff;
    padding: 20px;
}

.container-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
}

.sub-heading {
    font-size: 15px;
    font-weight: 700;
    font-family: "Roboto";
    color: #12022f;
}

.heading {
    font-size: 23px;
    font-weight: 700;
    font-family: "Roboto";
    color: #12022f;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .container-headings {
        align-items: center;
    }
}

/*image container*/
.image-container {
    display: flex;
    flex-wrap: wrap;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-block-heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.btn {
    justify-content: flex-end;
    align-items: flex-end
}

.text-block-btn {
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
    padding: 10px 15px 10px 15px;
    border: 1px solid #ffffff;
}

.bg-settings {
    background-size: 100% 100%;
    /*important ***/
    height: 30vh;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    padding: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*marketing strategies*/
@media screen and (max-width:768px) {
    .marketing-strategies {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-sm-bg.png');
        width: 100%;
        order: 1;
    }
}

@media screen and (min-width:768px) {
    .marketing-strategies {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png');
        width: 100%;
        order: 1;
    }
}

@media screen and (min-width:1200px) {
    .marketing-strategies {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png');
        width: 50%;
        order: 1;
    }
}

/*coffee*/
@media screen and (max-width:768px) {
    .coffee {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png');
        width: 100%;
        order: 2;
    }
}

@media screen and (min-width:768px) {
    .coffee {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png');
        width: 48%;
        order: 2;
    }
}

@media screen and (min-width:1200px) {
    .coffee {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png');
        width: 23%;
        order: 2;
    }
}

/*Fruits */
@media screen and (max-width:768px) {
    .fruits {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png');
        width: 100%;
        order: 3;
    }
}

@media screen and (min-width:768px) {
    .fruits {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png');
        width: 49%;
        order: 3;
    }
}

@media screen and (min-width:1200px) {
    .fruits {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png');
        width: 23%;
        order: 3;
    }
}

/*Laptop*/
@media screen and (max-width:768px) {
    .laptop {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-sm-bg.png');
        width: 100%;
        order: 4;
    }
}

@media screen and (min-width:768px) {
    .laptop {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png');
        width: 100%;
        order: 4;
    }
}

@media screen and (min-width:1200px) {
    .laptop {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png');
        width: 48%;
        order: 6;
    }
}

/*Nature*/
@media screen and (max-width:768px) {
    .nature {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png');
        width: 100%;
        order: 5;
    }
}

@media screen and (min-width:768px) {
    .nature {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png');
        width: 49%;
        order: 5;
    }
}

@media screen and (min-width:1200px) {
    .nature {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png');
        width: 24%;
        order: 4;
    }
}

/*interior */
@media screen and (max-width:768px) {
    .interior {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png');
        width: 100%;
        order: 6;
    }
}

@media screen and (min-width:768px) {
    .interior {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png');
        width: 48%;
        order: 6;
    }
}

@media screen and (min-width:1200px) {
    .interior {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png');
        width: 25%;
        order: 5;
    }
}
